@import 'base/quarks.css';
@import 'base/components.css';
@import 'base/misc.css';

body {
    height: 100vh;
    font-family: var(--font-epilogue);
    color: var(--dark-blue);
    max-width: 90rem;
  }

header {
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-xxl);
    display: flex;
    justify-content: space-between;
    align-items: center;

        & .logo {
            display: block;
            height: 2rem;
            width: 5.0625rem;
            object-fit: contain;
        }
}

.highlight {
    font-weight: var(--font-bold);
}

.hero {
    display: flex;
    flex-direction: column;

    & .hero__copy {
        margin-bottom: var(--margin-xxl);

        & h1 {
            margin-bottom: var(--margin-lg);
            font-weight: var(--font-regular);
            font-size: var(--h1-sm-font-size);
            line-height: var(--h1-sm-line-height);
            letter-spacing: -0.0331rem;
            color: var(--dark-blue);
        }

        & p {
            margin-bottom: var(--margin-lg);            
            font-size: var(--font-xs);
            font-weight: var(--font-regular);
            line-height: var(--line-height-xxs);
            letter-spacing: .0563rem;
            color: var(--grey);
        }
    }

    & .hero__image {
        height: 15rem;
        width: auto;
        object-fit: contain;

        & img {
            width: 100%;
        }
    }
}

.stats {
    margin-top: var(--margin-xxl);
    margin-bottom: var(--margin-xxl);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    & .stats__fig {
        text-align: center;
        font-size: var(--font-xl);
        line-height: var(--line-height-lg);
        font-weight: var(--font-bold);
        color: var(--dark-blue);

        & .label {
            color: var(--grey);
            font-size: var(--font-xs);
            font-weight: var(--font-regular);
            line-height: var(--line-height-xs);
            letter-spacing: .1563rem;
            text-transform: uppercase;
            display: block;
        }
    }
}

.testimonial {
    background-color: var(--dark-blue);
    border-radius: .9375rem;
    position: relative;
    margin-top: 15rem;

    & .testimonial__image {
        position: absolute;
        top: -24.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 15.75rem;
        height: 25.125rem;
        object-fit: contain;

        & img {
            width: 100%;
            height: 100%;
        }

        & .profile {
            position: inherit;
            z-index: 1;
        }

        & .blur {
            position: inherit;
            top: 3.75rem;
            left: 0;
            z-index: 0;
        }
    }

    & .testimonial__content {
        text-align: center;
        padding: 0rem 1rem;
        padding-top: 13.4375rem;

        & img {
            padding-top: 2rem;
            padding-bottom: 2.3125rem;
        }

        & h2 {
            font-weight: var(--font-regular);
            color: var(--cream-white);
            font-size: 2.5rem;
            line-height: 2.75rem;
            letter-spacing: -0.0262rem;
            padding-bottom: 2.5rem;
        }

        & blockquote {
            color: var(--cream-white);
            letter-spacing: .0056rem;
            font-size: var(--font-sm);
            line-height: var(--line-height-sm);
            font-weight: var(--font-regular);
            padding-bottom: 2.5rem;
        }

        & p {
            color: var(--cream-white);
            letter-spacing: .1563rem;
            font-size: var(--font-xs);
            line-height: var(--line-height-xs);
            text-transform: uppercase;
            padding-bottom: 4rem;

            & span {
                display: block;
                font-size: var(--font-sm);
                line-height: var(--line-height-sm);
                letter-spacing: -0.0112rem;
            }
        }
    }
}

footer {
    margin-top: -8.375rem;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 26.25rem;

    & .footitems {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.0625rem;
    }

    & .logo {
        padding-top: 2.5rem;
    }

    & span {
        font-size: var(--font-xss);
        line-height: var(--line-height-sm);
        letter-spacing: .005rem;
        color: var(--grey);
    }

    & .social__channel {
        & img {
            margin-right: 1.75rem;
        }

        & :last-child {
            margin-right: 0rem;
        }
    }
}

.social__channel img:hover {
    cursor: pointer;
    mix-blend-mode:color-burn ;
}


@media screen and (min-width: 48rem) {
    .container {
        margin-left: 2.4375rem;
        margin-right: 2.5rem;
    }

    header {
        margin-top: 2.5rem;
        margin-bottom: 5rem;

        .btn-secondary {
            font-size: 1rem;
            line-height: 2rem;
            padding: .75rem 1.5313rem .75rem 1.4688rem;
        }
    }

    .hero {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        height: 30.125rem;

        & .hero__copy {
            margin-bottom: 0rem;

            & h1 {
                font-size: 3.5rem;
                line-height: 4rem;
                letter-spacing: -0.0488rem;
                max-width: 32rem;
                margin-bottom: 2.5rem;

            }

            & p {
                max-width: 21.875rem;
                margin-bottom: 2.5rem;
            }
        }

        & .hero__image {
            position: absolute;
            right: 0;
            z-index: -1;
            height: 100%;
            width: auto;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .stats {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-top: 5.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        margin-top: 5.5rem;
        margin-bottom: 6rem;
    }

    .testimonial {
        margin-top: 26.1rem;

        & .testimonial__image {
            top: -25%;

            & .blur {
                width: 150%;
                height: 90%;
                left: -25%;
                top: 25%;
            }
        }

        & .testimonial__content {
            padding: 0 3.625rem;
            padding-top: 16rem;
        }
    }

    footer {
        margin-top: -29rem;
        padding-left: 2.4375rem;
        padding-right: 2.5rem;
        padding-bottom: 4.5rem;
        height: 40rem;

        & .footitems {
            padding-top: 33.5rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-left: 0;
            margin-right: 0;
        }

        & .logo {
            padding-top: 0;
        }
    }
}

@media screen and (min-width: 80rem) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .container {
        max-width: 69.375rem;
    }

    header {
        margin-top: 3.125rem;
        width: 100%;
    }

    .hero {
        height: 37.5rem;
        justify-content: space-between;
        flex-wrap: nowrap;

        & .hero__copy {

            & h1 {
                font-size: 4.5rem;
                line-height: 4.875rem;
                letter-spacing: -0.0625rem;
                max-width: 39.6875rem;
            }

            & .hero__copy--pattern {
                padding-left: 18.1rem;
                padding-bottom: 1.375rem;
            }
        }

        & .hero__image {
            right: 37%;
            transform: translateX(50%);
            
        }


        & .stats {
            flex-direction: column;
            gap: 3.9375rem;
            align-items: flex-start;
            width: 11.875rem;
            padding: 0;
            padding-left: 2.5rem;
            margin: 0;
            justify-content: flex-start;

            & .stats__fig {
                text-align: left;
            }
        }
    }

    .testimonial {
        margin: 0;
        margin-top: 12.4375rem;
        max-height: 34.0625rem;
        max-width: 69.3125rem;

        & .testimonial__image {
            width: 22.5rem;
            height: 36.875rem;
            left: 25%;
            top: -8.5%;
        }

        & .testimonial__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 5.5rem 0;
            padding-right: 7.8125rem;
        }

        & .curvedline {
            position: absolute;
            left: 48%;
            top: 22%;
        }

        & .testimonial__content-copy {
            text-align: left;
            grid-column: 3 / 3;
            width: 21.875rem;

            & h2 {
                font-size: 3rem;
                line-height: 3.5rem;
                padding-bottom: 2.5rem;
            }

            & blockquote {
                font-size: 20px;
                line-height: 2.1875rem;
                padding-bottom: 2.5rem;
            }

            & p {
                padding-bottom: 0rem;
            }
        }
    }

    footer {
        width: 100vw;
        max-height: 29rem;
        margin-top: -16.5625rem;

        & .footitems {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            height: 29rem;
            width: 100%;
            padding-top: 23.75rem;
            justify-content: space-between;
            align-items: center;
        }
    }
}