.container {
    display: grid;
    place-content: center;
}

.frmcontainer {
    display: flex;
    flex-direction: column;
    width: 33.75rem;
    gap: 1.9375rem;
}

.pwdText {
    position: relative;
}

.textInput {
    width: 100%;
    font-size: 2rem;
    padding: 1.1875rem 2rem;
    background-color: var(--grey);
    color: var(--offwhite);
    border: none;
}

.textInput::placeholder {
    opacity: 0.25;
}

.svg {
    position: absolute;
    cursor: pointer;
    top: 1.75rem;
    right: 1.75rem;
}

.svg:hover path {
    fill: white;
}

.pwdCriteria {
    display: grid;
    gap: 2rem;
    background-color: var(--grey);
    color: var(--offwhite);
    padding: 1.5rem 2rem 2rem;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 1.1875rem;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    font-weight: 700;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    background-color: var(--accent);
    padding: 1.3125rem 1.25rem;
    border: .125rem solid transparent;
}

.btn button {
    font-family: inherit;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4375rem;
    text-transform: uppercase;
    color: var(--dark-grey);
}

.btn:hover {
    border-color: var(--accent);
    background-color: var(--grey);
}

.btn:hover button {
    color: var(--accent);
}

.btn:hover svg path {
    fill: var(--accent);
}