.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    background-color: var(--dark-grey);
    color: var(--grey);
    padding: 1.4375rem 1.9688rem 1.3125rem 2rem;
}

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .9688rem;
}

.statusmessage {
    font-size: 1.5rem;
    color: var(--offwhite);
}

.statusboxes {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.statusboxes span {
        width: .625rem;
        height: 1.75rem;
        border: .125rem solid var(--offwhite);
}