@use '../styles/variables' as *;
@use '../styles/breakpoints' as *;

.timer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @include breakpoint-1440 {
        gap: 2rem;
    }
}

span {
    display: block;
}

.timer__card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    justify-content: center; 
    align-items: center;
    gap: .5625rem;

    @include breakpoint-1440 {
        gap: 1rem;
    }

    &-elements {
        position: relative;
        height: inherit;
        width: inherit;
        border-radius: inherit;
        overflow: hidden;
        background-image: linear-gradient(to bottom, rgba(black, 0.1506) 50%, transparent 50%);

        .line {
            position: absolute;
            top: 50%;
            opacity: 0.253;
            width: 100%;
            height: .0296rem;
            background-color: black;
            z-index: 10;

            @include breakpoint-1440 {
                height: .0625rem;
            }
        }

        .circle {
            position: absolute;
            top: 46%;
            left: -5%;
            width: .375rem;
            height: .375rem;
            border-radius: 100%;
            background-color: $very-dark-mostly-black-blue;
            box-shadow: 70px 0 0px $very-dark-mostly-black-blue;
            z-index: 10;

            @include breakpoint-1440 {
                width: .75rem;
                height: .75rem;
                box-shadow: 148px 0 0px $very-dark-mostly-black-blue;
            }
        }
    }

    &-visual {
        position: relative;
        width: 4.375rem;
        height: 4.375rem;
        border-radius: .5rem;
        background-color: $dark-desaturated-blue;
        box-shadow: 0 5px 0 0px black;
        transition: transform 0.5s;

        &:hover {
            transform: rotateX(180deg);
        }

        @include breakpoint-1440 {
            width: 9.25rem;
            height: 9.375rem;
        }
    }

    &-num {
        font-size: 2.25rem;
        font-weight: $font-weight;
        color: $soft-red;
        letter-spacing: -0.0675rem;
        border-radius: .25rem;
        inset: 0;
        padding: 11px;
        position: absolute;
        z-index: 1;
        backface-visibility: hidden;

        @include breakpoint-1440 {
            font-size: 5rem;
            letter-spacing: -0.15rem;
            line-height: 4.4375rem;
            padding: 2.1875rem 1.375rem;
        }
    }

    &-val {
        color: $grayish-blue;
        text-transform: uppercase;
        font-size: .4375rem;
        font-weight: $font-weight;
        letter-spacing: .185rem;

        @include breakpoint-1440 {
            font-size: .875rem;
            line-height: 1.1875rem;
            letter-spacing: .37rem;
        }
    }
}

.timer__card.flipped .timer__card-visual {
    transform: rotateX(180deg);
}