/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/assets/globals.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
:root {

  --grey: hsl(248, 10%, 15%);
  --light-grey: hsl(251, 9%, 53%);
  --offwhite: hsl(252, 11%, 91%);
  --dark-grey: hsl(248, 15%, 11%);
  --accent: hsl(127, 100%, 82%);
  --red: hsl(0, 91%, 63%);
  --amber: hsl(13, 95%, 66%);
  --yellow: hsl(42, 91%, 68%);

  --max-width: 33.75rem;
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'JetBrainsMono-Bold';
  accent-color: var(--accent);
  background: var(--dark-grey);
}

