/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./components/styles/Strength.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Strength_container__UlY5T {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    background-color: var(--dark-grey);
    color: var(--grey);
    padding: 1.4375rem 1.9688rem 1.3125rem 2rem;
}

.Strength_status__3D_kL {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .9688rem;
}

.Strength_statusmessage__a22_0 {
    font-size: 1.5rem;
    color: var(--offwhite);
}

.Strength_statusboxes__LalYH {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.Strength_statusboxes__LalYH span {
        width: .625rem;
        height: 1.75rem;
        border: .125rem solid var(--offwhite);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./components/styles/PwdGenForm.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.PwdGenForm_container__St7CS {
    display: grid;
    place-content: center;
}

.PwdGenForm_textInput__D0_NM {
    width: 100%;
    font-size: 2rem;
    padding: 1.1875rem 2rem;
    color: var(--offwhite);
}
