*, ::after, ::before, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1, h2, h3, h4, h5, h6, p, aside, blockquote, figure, footer, header, main, nav, section, summary {
    margin: 0;
  }

a, a:visited, a:hover {
    text-decoration: none;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}