@use 'variables' as *;

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 100vh;
    font-size: .875rem;
    background: url('../images/bg-stars.svg'), linear-gradient(180deg, #1D1E28 0.12%, #261C2D 94.84%, #261A2D 100%);

    h1 {
        text-transform: uppercase;
        font-weight: $font-weight;
        color: $white;
        letter-spacing: .3837rem;
        padding-bottom: 3.375rem;
    }
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}